<div class="modal fade mt-40" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changeProfileImageForm" >
                    <div class="inputTag">

                        <label for="changeProfile" id="changeProfileImage"><h2>Upload Profile Image</h2></label>
                        <input type="file" name="profileImage" id="changeProfileBtn">
                        <button type="submit"> Upload</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>