<div class="form-floating">
    <form action="">
        <div class="formDiv">
            <input type="text" class="form-control" placeholder="Leave a Review here" id="floatingTextarea"
                name="Review" ></textarea>
            <button type="button" class="btn btn-primary" id="submitReviewBtn"
                data-id="<%= locals.book._id %>">Add</button>

        </div>
    </form>
</div>



