<form class="d-flex" role="search" id="searchForm">
    <input class="form-control me-2 w-40" type="search" placeholder="Search" aria-label="Search" id="searchBar">
    <button class="btn btn-outline-success" type="submit" id="searchBtn">Search</button>
</form>