<div class="sidebar">
    <div class="profile-image-container">
        <% console.log("FROM EJS " + locals.user.profileImageURL); %>
        <img src=" <%=locals.user.profileImageURL %>" alt="Artist Profile" class="profile-image">
    </div>

    <a href="/user/searchUsers" class="sidebar-btn">Search Users</a>
    <a href="/user/myProfile" class="sidebar-btn" id="Edit-Profile">View Profile</a>
    <% if (!locals.filterRequired) { %>
        <a href="/filter/getFilterPage" class="sidebar-btn" id="filter-Books">Filter Books</a>
        <% } %>

            <% if (locals.filterRequired) { %>
                <div class="sidebar-filter">
                    <h5>Filter Books</h5>
                    <form id="filterForm">
                        <div class="mb-3">
                            <label for="author" class="form-label">Key Word</label>
                            <input type="text" class="form-control" id="keyWord"
                                placeholder="Please Enter a Ket Word to Search Efficiently" required>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="form-label">Author</label>
                            <input type="text" class="form-control" id="author" placeholder="Enter author name">
                        </div>
                        <div class="mb-3">
                            <label for="genre" class="form-label">Genre</label>
                            <input type="text" class="form-control" id="genre" placeholder="Enter genre">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price Range</label>
                            <div class="row">
                                <div class="col">
                                    <input type="number" class="form-control" placeholder="Min" min="0" id="minPrice">
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control" placeholder="Max" min="0" id="maxPrice">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>
                </div>
                <% } %>
</div>