<div class="sidebar">
    <div class="profile-image-container">
        <img src="/public/appImages/artistBack.webp" alt="Artist Profile" class="profile-image">
    </div>
    <a href="/books/addBook" class="sidebar-btn"> Browse Books</a>
    <a href="/user/searchUsers" class="sidebar-btn"> Search Users</a>
    <a href="/user/myProfile"  class="sidebar-btn" id="Edit-Profile">View Profile</a>
    <!-- <a href="/filter/getFilterPage"  class="sidebar-btn" id="filter-Books">Filter Books</a> -->
   
</div>