<div class="sidebar">
    <div class="profile-image-container">
        <img src="/public/appImages/artistBack.webp" alt="Artist Profile" class="profile-image">
    </div>
    <button type="button" class="sidebar-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="Add-Books">Add New Books</button>
    <a href="/user/myProfile"  class="sidebar-btn" id="Edit-Profile">Edit Profile</a>
</div>